# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

/.vscode
mongols_route.py/__pycache__/mongols_route.cpython-35.pyc
pymongols/python/templates/__jinja2_15611ede1476b3d60eb601cf769e426774331ee2.cache
pymongols/python/templates/__jinja2_c5e95b28437b6170cd9f0aa4e6f9c3258183dea6.cache
